@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Barlow:wght@300;400;500;600&display=swap');


:root {
  --netflix-red: #E50914;
  --netflix-red-hover: #B20710;
  --bg-primary: #141414;
  --bg-card: #1a1a1a;
  --bg-card-hover: #2a2a2a;
  --text-primary: #FFFFFF;
  --text-secondary: #b3b3b3;
  --text-muted: #6b6b6b;
  --border-subtle: #2a2a2a;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
}

/* Scrollbar custom */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: var(--bg-primary); }
::-webkit-scrollbar-thumb { background: #444; border-radius: 3px; }
::-webkit-scrollbar-thumb:hover { background: #666; }
